
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
    Layout = null;
}

<h4>Your password is successfully changed.</h4>
<form method="post" asp-controller="account" asp-action="logout">
    <button type="submit" class="nav-link btn btn-link text-dark">
        <p>Here to login</p>
    </button>
</form>
<form method="post" asp-controller="moviedetails" asp-action="index">
    <button type="submit" class="nav-link btn btn-link text-dark">
        <p>Here to Admin</p>
    </button>
</form>


